<div class="font-semibold font-title">
    Eltern Dashboard
</div>
<p>
    Erstes Fake Chart
</p>
<div>
    @Html.Raw(@Model.Charts[0])
</div>
<p>
    Performance Übersicht
</p>
<div>
    @Html.Raw(@Model.Charts[1])
</div>