<div class="font-semibold font-title">
    Lehrer Dashboard
</div>


<div class="font-semibold font-title2">Anwesenheitswahrscheinlichkeit (alle Schüler)</div>
<div>
    @Html.Raw(@Model.Charts[0])
</div>